<form name="myForm"><br>
    <label> Выберите матч: </label>
    <select class="form-control" name="repeat" id="repeatSelect" ng-change="$ctrl.getStatisticForTickets($ctrl.matchDate)" ng-model="$ctrl.matchDate">
        <option ng-repeat="option in $ctrl.matches" value="{{option.date}}">{{option.headline}}</option>
    </select>
</form>
<hr>
<table class="table">
    <thead>
    <tr>
        <th>Match</th>
        <th>West tribune</th>
        <th>North tribune</th>
        <th>East tribune</th>
        <th>South tribune</th>
        <th>Total price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td ng-bind="$ctrl.statistic.headline">
        </td>
        <td ng-bind="$ctrl.statistic.stadium.west">
        </td>
        <td ng-bind="$ctrl.statistic.stadium.north">
        </td>
        <td ng-bind="$ctrl.statistic.stadium.east">
        </td>
        <td ng-bind="$ctrl.statistic.stadium.south">
        </td>
        <td ng-bind="$ctrl.statistic.totalSum | money">
        </td>
    </tr>
    </tbody>
</table>