/* You can add global styles to this file, and also import other stfooteryle files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap-social/bootstrap-social.css';
@import '~font-awesome/css/font-awesome.min.css';

.tooltips {
    background: white;
    color: #636363;
    line-height: 1;
    font-size: 12px;
    padding: 5px;
    text-align: left;
    position: absolute;
    top: -65px;
    left: -40px;
    white-space: nowrap;
    display: none;
    width: auto;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1200px) {
  .container {
    width: 960px;
  }
}
