/* You can add global styles to this file, and also import other stfooteryle files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap-social/bootstrap-social.css';
@import '~font-awesome/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import "~swiper/dist/css/swiper.css";

.tooltips {
    background: white;
    color: #636363;
    line-height: 1;
    font-size: 12px;
    padding: 5px;
    text-align: left;
    position: absolute;
    top: -65px;
    left: -40px;
    white-space: nowrap;
    display: none;
    width: auto;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/*@media (min-width: 1200px) {*/
  /*.container {*/
    /*width: 960px;*/
  /*}*/
/*}*/

/*.container {*/
  /*padding: 0 20px;*/
/*}*/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a, p {
  font-size: 20px;
}

.outer-wrapper {
  padding: 0 20px;
}

.inner-wrapper {
  max-width: 1520px;
  margin: 0 auto;
}

@media (max-width: 1240px) {
  a, p {
    font-size: 18px;
  }
}

@media (max-width: 960px) {
  a, p {
    font-size: 16px;
  }
}
