.navbar-inverse .navbar-brand {
  color: #ffd200;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  background-color: transparent;
  color: #ffd200;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right li p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 250px;
}
@media (max-width: 992px) {
  .navbar-right li p {
    max-width: 50px!important;
  }
}
@media (max-width: 768px) {
  .navbar-right {

    display: block;
  }
  .navbar-right li:last-child {
    padding: 15px
  }
}


