<div class="header">
  <div class="inner-wrapper">
    <div class="logo-header">
      <ul>
        <li>
          <a routerLink="">
            <img src="assets/images/main-logo.png" alt="header logo">
            <span>METALIST 1925 TICKETS</span>
          </a>
        </li>
        <li (click)="toggleMenu()">
          <span><i class="fa fa-bars"></i></span>
        </li>
      </ul>
    </div>
    <div class="menu-header" [style.display]="isCollapsed ? 'flex' : 'none'">
      <ul *ngIf="isLoggedIn">
        <li>
          <a routerLinkActive="active" routerLink="tickets">{{'navbar.myTickets' | translate | uppercase}}</a>
        </li>
        <li *ngIf="isAdmin()" >
          <a routerLinkActive="active" routerLink="admin">Admin</a>
        </li>
        <li *ngIf="isAdmin() || isCashier()">
          <a routerLinkActive="active" routerLink="cashbox">{{'navbar.cashBox' | translate | uppercase}}</a>
        </li>
      </ul>
      <ul>
        <li *ngIf="!isLoggedIn">
          <a routerLinkActive="active" routerLink="register">
            {{'navbar.registration' | translate | uppercase}}
          </a>
        </li>
        <li *ngIf="!isLoggedIn">
          <a routerLinkActive="active" routerLink="login">
            {{'navbar.entrance' | translate | uppercase}}
          </a>
        </li>
        <li *ngIf="isLoggedIn" class="user-name">
          <span>
            {{'navbar.hello' | translate | uppercase}} {{ currentUser?.name | uppercase}}
          </span>
        </li>
        <li *ngIf="isLoggedIn && !loggedInWithOauth">
          <a routerLinkActive="active" routerLink="settings">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </li>
        <li *ngIf="isLoggedIn">
          <a routerLinkActive="active" routerLink="login">{{'navbar.exit' | translate | uppercase}}</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="checkout">{{'navbar.basket' | translate | uppercase}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
