<div class="container">
  <uib-tabset active="active" justified="true">
    <uib-tab index="0" heading="Users">
      <div ng-if="active === 0">
        <admin-users></admin-users>
      </div>
    </uib-tab>
    <uib-tab index="1" heading="Matches">
      <div ng-if="active === 1">
        <match-editor></match-editor>
      </div>
    </uib-tab>
    <uib-tab index="2" heading="Статистика">
      <div ng-if="active === 2">
        <tickets-statistic></tickets-statistic>
      </div>
    </uib-tab>
    <uib-tab index="3" heading="Season tickets">
      <div ng-if="active === 3">
        <season-ticket></season-ticket>
      </div>
    </uib-tab>
    <uib-tab index="4" heading="Price Schema">
      <div ng-if="active === 4">
        <price-schema></price-schema>
      </div>
    </uib-tab>
    <uib-tab index="5" heading="Migration">
      <div ng-if="active === 5">
        <form class="form-inline">
          <div class="form-group">
            <input type="text" class="form-control"   style="margin-top: 10px;" ng-model="admin.matchId" placeholder="Введите ID матча">
          </div>
          <div class="form-group">
            <input type="text" class="form-control"   style="margin-top: 10px;" ng-model="admin.priceId" placeholder="Введите ID прайс схемы">
          </div>
          <button class="btn btn-default" style="margin-top: 10px;" ng-click="admin.addStadiumSeats()">Add stadium seats</button>
        </form>
        <p ng-show="admin.message">{{ admin.message }}</p>
      </div>
    </uib-tab>
  </uib-tabset>

</div>
