<div class="container">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>

  <uib-tabset active="activeUsers" justified="true">
    <uib-tab index="0" heading="Users">
      <ul class="list-group">
        <li ng-repeat="user in admin.users" class="list-group-item">
          <strong>{{user.name}}</strong><br/>
          <span class="text-muted">{{user.email}}</span>
          <a ng-click="admin.delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a></li>
      </ul>
    </uib-tab>
    <uib-tab index="1" heading="Matches">
      <match-editor></match-editor>
    </uib-tab>
    <uib-tab index="2" heading="Orders">
      <form name="myForm"><br>
        <label> Выберите матч: </label>
        <select class="form-control" name="repeat" id="repeatSelect" ng-change="admin.getCountPaidOrders(admin.matchDate)" ng-model="admin.matchDate">
          <option ng-repeat="option in admin.matches" value="{{option.date}}">{{option.headline}}</option>
        </select>
      </form>
      <hr>
      <table class="table">
        <thead>
        <tr>
          <th>Match date</th>
          <th>West tribune</th>
          <th>East tribune</th>
          <th>Total price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td ng-bind="admin.matchDate | date:'dd-MM-yyyy HH:mm:ss'">
          </td>
          <td ng-bind="admin.paidOrders.west">
          </td>
          <td ng-bind="admin.paidOrders.east">
          </td>
          <td ng-bind="admin.paidOrders.total | money">
          </td>
        </tr>
        </tbody>
      </table>
    </uib-tab>
    <uib-tab index="3" heading="Tickets">
      <form name="myForm"><br>
        <label for="code"> Введите код: </label>
        <input type="text" id="code" ng-model="code" placeholder="Enter barcode">
        <button ng-click="admin.checkTicket(code)">Check ticket</button>
        <br>
        <span ng-show="admin.message"  ng-bind="admin.message"></span>
        <span ng-show="admin.ticket.seat">Ticket valid. Seat - {{admin.ticket.seat.number}}, row - {{admin.ticket.seat.row}},
         sector - {{admin.ticket.seat.sector}}</span>
      </form>
      <button ng-click="admin.getTickets()">Load tickets</button>
      <hr>
      <table class="table">
        <thead>
        <tr>
          <th>sector</th>
          <th>row</th>
          <th>amount</th>
          <th>number</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ticket in admin.tickets">
          <td ng-bind="ticket.seat.sector">
          </td>
          <td ng-bind="ticket.seat.row">
          </td>
          <td ng-bind="ticket.amount | money">
          </td>
          <td ng-bind="ticket.seat.number">
          </td>
        </tr>
        </tbody>
      </table>
    </uib-tab>
    <uib-tab index="4" heading="Price Schema">
      <price-schema></price-schema>
    </uib-tab>
  </uib-tabset>

</div>
