<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Вход</h1>
    </div>
    <div class="col-sm-12">
      <form name="form" class="form" [formGroup]="form" (ngSubmit)="login()">
        <div class="form-group" formGroupName="login">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" type="email" name="email" formControlName="email">
            <mat-error *ngIf="form.get('login.email').hasError('email') && !form.get('login.email').hasError('required')">
              Пожалуйста введите <strong>корректный</strong> email
            </mat-error>
            <mat-error *ngIf="form.get('login.email').hasError('required')">
              Email является <strong>обязательным</strong> полем
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Пароль" type="password" name="password" formControlName="password">
            <mat-error *ngIf="form.get('login.password').hasError('required')">
              Пароль является <strong>обязательным</strong> полем
            </mat-error>
          </mat-form-field>
        </div>
        <div class="help-block">{{error}}</div>
        <div>
          <button type="submit" class="btn btn-inverse btn-lg btn-login" [disabled]="form.invalid">Войти</button>
          <a class="btn btn-default btn-lg btn-register" routerLink="/register">Регистрация</a>
          <a routerLink="/recovery">Забыли пароль?</a>
        </div>
        <hr/>
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <oauth-buttons></oauth-buttons>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr/>
</div>
