<div class="wrapper">
  <shared-form [type]="'login'"
               (submit)="login($event)">
    <span class="title">{{'auth.entrance' | translate}}</span>
    <span *ngIf="error === 'fail'; else elseBlock" class="error">
      {{('message.login.' + error) | translate}}
    </span>
    <ng-template #elseBlock>
      <span class="error">{{error}}</span>
    </ng-template>
    <span class="redirect">
      {{'auth.forgotPassword' | translate}}?
      <a routerLink="/recovery">{{'auth.restore' | translate}}</a>
    </span>
    <!--<button type="submit" class="classic">-->
      <span class="button-title"> {{'auth.entrance' | translate}} </span>
    <!--</button>-->
  </shared-form>

  <oauth-buttons></oauth-buttons>
  <span class="registration">
    {{'auth.dontHaveAccount' | translate}}?
    <a routerLink="/register">{{"auth.registration" | translate | uppercase}}</a>
  </span>
  <a class="home" routerLink=""><i class="fa fa-home" aria-hidden="true"></i></a>
</div>
