<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Изменить пароль</h1>
        </div>
        <div class="col-sm-12">
            <form name="form" ng-submit="vm.changePassword(form)" novalidate="" class="form">
                <div class="form-group">
                    <label>Текущий пароль</label>
                    <input type="password" name="password" ng-model="vm.user.oldPassword" mongoose-error="" class="form-control"/>
                    <p ng-show="form.password.$error.mongoose" class="help-block">{{ vm.errors.other }}</p>
                </div>
                <div class="form-group">
                    <label>Новый пароль</label>
                    <input type="password" name="newPassword" ng-model="vm.user.newPassword" ng-minlength="3" required="" class="form-control"/>
                    <p ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)" class="help-block">Пароль должен быть как минимум три символа.</p>
                </div>
                <div class="form-group">
                    <label>Подтвердите пароль</label>
                    <input type="password" name="confirmPassword" ng-model="vm.user.confirmPassword" match="vm.user.newPassword" ng-minlength="3" required="" class="form-control"/>
                    <p ng-show="fvm.orm.confirmPassword.$error.match && vm.submitted" class="help-block">Пароли должны совпадать</p>
                </div>
                <p class="help-block"> {{ vm.message }}</p>
                <button type="submit" class="btn btn-lg btn-primary">Сохранить изменения</button>
            </form>
        </div>
    </div>
</div>
