<form #confirmForm="ngForm">
  <mat-form-field class="full-width">
    <input matInput placeholder="Email" type="email" name="email" (input)="handleEmailInput()"
           ngModel #email="ngModel" required emailvalidator>
    <mat-error *ngIf="email.touched && email?.errors?.required">
      <input-required-error field="Email"></input-required-error>
    </mat-error>
    <mat-error *ngIf="email.touched && !email.errors?.required && email?.errors?.emailvalidator">
      <input-invalid-email-error></input-invalid-email-error>
    </mat-error>
  </mat-form-field>
  <p>
    <a *ngIf="!confirmationMessage" (click)="confirmEmail(email.value)" class="confirm-email"
       [class.not-active]="!email.value || email.errors">{{'auth.confirmEmail' | translate}}
    </a>
    <span *ngIf="confirmationMessage === 'alreadyTaken; else confirmationElseBlock'">
      {{('message.login.' + confirmationMessage) | translate}}
    </span>
    <ng-template #confirmationElseBlock>
      <span>{{confirmationMessage}}</span>
    </ng-template>
  </p>
  <div [hidden]="!showSection">
    <mat-form-field class="full-width" >
      <input matInput placeholder="Пароль" type="password" name="password"
             (input)="handlePasswordInput()" ngModel #password="ngModel" required>
      <mat-error *ngIf="password.touched && password?.errors?.required">
        <input-required-error field="Пароль"></input-required-error>
      </mat-error>
    </mat-form-field>
    <button (click)="login(email.value, password.value)"
            class="btn btn-warning btn-block" [disabled]="confirmForm.invalid">{{'checkout.enter' | translate}}
    </button>
    <p *ngIf="loginMessage === 'fail'; else loginElseBlock">{{('message.login.' + loginMessage) | translate}}</p>
    <ng-template #loginElseBlock>
      <p>{{loginMessage}}</p>
    </ng-template>
  </div>
</form>

