form div, form mat-form-field {
  width: 100%;
}

form a.confirm-email {
  text-align: right;
  cursor: pointer;
}

.not-active {
  pointer-events: none;
  color: #808080;
}


form p {
  margin: 0 0 20px;
}
