<div ng-form="priceForm" ng-show="$ctrl.currentTribune.name && !$ctrl.currentSector.name">
    <h4>Цена на трибуну: {{$ctrl.currentTribune.name}}</h4>
    <div class="form-group col-md-3">
        <input class="form-control" type="number" min="0" max="1500" ng-model="$ctrl.currentTribune.price" ng-change="$ctrl.changePrice()" />
    </div>
</div>

<div ng-form="priceForm" ng-show="$ctrl.currentSector.name">
    <h4>Цена на сектор: № {{$ctrl.currentSector.name}}</h4>
    <div class="form-group col-md-3">
        <input class="form-control" type="number" min="0" max="1500" ng-model="$ctrl.currentSector.price" ng-change="$ctrl.changePrice()" />
    </div>
</div>
<div class="col-md-3" ng-show="$ctrl.isPriceChanged()" >
    <button class="btn btn-default" ng-click="$ctrl.clickApply()"
    >Apply</button>
</div>
