<hr>
<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Input & change events"
         (dateInput)="addEvent('input', $event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<table class="table table-hover">
  <thead class="thead-inverse">
  <tr>
    <th>Цена</th>
    <th>Количество</th>
    <th>Сумма</th>
  </tr>
  </thead>
  <tbody>
  <!--<tr ng-repeat="stat in statistics | orderBy: '-price'">-->
  <tr *ngFor="let stat of statistics;">
    <td>{{stat.price}}</td>
    <td ng-bind="stat.count"></td>
    <td ng-bind="stat.sum"></td>
  </tr>
  <tr *ngIf="isStatistics()">
    <td></td>
    <td> Сумма</td>
    <td> {{getAmount()}}</td>
  </tr>
  </tbody>
</table>
