node_modules
.tmp
.idea
dist
npm-debug.log.*
all.log
.env
mongo_data
server/config/local.env.js
server/config/environment/development.js
images/teamLogos/
!images/teamLogos/.gitkeep
client/assets/images/teamLogo
volumes/proxy/certs/
npm-debug.log

# e2e
/e2e/*.js
/e2e/*.map
