tr.ticket-item-wrapper {
  padding: 5px 0;
  width: 100%;
  display: block;

  td {
    vertical-align: middle;
    text-align: center;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
  }
  .text-container {
    text-align: left;
    //span, i {
    //
    //
    //  margin: 0 5px;
    //
    //}
  }
  .symbol {
    cursor: pointer;
  }
}
.indicator {
  width: 20px;
  height: 13px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0;
  padding-right: 10px;
}
span {
  color: #123f6d;

  &.number {
    width: 20px;
  }
}
span:first-child {
  text-transform: capitalize;
}
i {
  font-size: 24px;

  &.fa-times {
    color: #fc2c34;
  }
}

@media (max-width: 960px) {
  font-size: 16px;
}



