<tr class="ticket-item-wrapper">
  <td width="5%" *ngIf="type" class="number">{{index}}</td>
  <td width="5%" *ngIf="type">
    <span class="indicator" [style.background]="type === types.ticket ? '#00426b' : '#fc2c34'">&nbsp;</span>
  </td>
  <td class="text-container">
    <span [translate]="'stadium.'+ ticket.tribune" *ngIf="type"></span>
    <span *ngIf="type">,</span>
    <span [style.textTransform]="type ? 'lowercase' : 'capitalize'">сектор - {{ ticket.sector }},</span>
    <span>ряд - {{ ticket.row }},</span>
    <span *ngIf="type; else elsePlace">{{'common.place' | translate | lowercase}} - {{ticket.seat}},</span>
    <ng-template #elsePlace>
      <span>м. - {{ticket.seat}}</span>
    </ng-template>
    <ng-container *ngIf="type === types.ticket">
      <span *ngIf="type">{{'common.price' | translate}} - {{ticket.price || ticket.amount}};</span>
      <span *ngIf="!type">- {{ticket.price}}грн;</span>
    </ng-container>
  </td>
  <td width="1%" class="symbol" style="cursor: pointer;" *ngIf="ticket._id || ticket.id">
    <div class="icon-container">
      <i class="fa fa-ticket" aria-hidden="true" (click)="openTicket()"></i>
    </div>
  </td>
</tr>
