<label>Список абонементов</label>
<!--<form class="form">-->
  <!--<table class="table">-->
    <!--<thead>-->
    <!--<tr>-->
      <!--<th>Seat id</th>-->
      <!--<th>Сектор</th>-->
      <!--<th>Ряд</th>-->
      <!--<th>Место</th>-->
      <!--<th>Действителен</th>-->
      <!--<th>Удалить</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--&lt;!&ndash;<tr ng-repeat="ticket in $ctrl.tickets | orderBy: '-reservedUntil'">&ndash;&gt;-->
      <!--&lt;!&ndash;<td>&ndash;&gt;-->
        <!--&lt;!&ndash;{{ticket.slug}}&ndash;&gt;-->
      <!--&lt;!&ndash;</td>&ndash;&gt;-->
      <!--&lt;!&ndash;<td>&ndash;&gt;-->
        <!--&lt;!&ndash;{{ticket.sector}}&ndash;&gt;-->
      <!--&lt;!&ndash;</td>&ndash;&gt;-->
      <!--&lt;!&ndash;<td>&ndash;&gt;-->
        <!--&lt;!&ndash;{{ticket.row}}&ndash;&gt;-->
      <!--&lt;!&ndash;</td>&ndash;&gt;-->
      <!--&lt;!&ndash;<td>&ndash;&gt;-->
        <!--&lt;!&ndash;{{ticket.seat}}&ndash;&gt;-->
      <!--&lt;!&ndash;</td>&ndash;&gt;-->
      <!--&lt;!&ndash;<td>&ndash;&gt;-->
        <!--&lt;!&ndash;{{ticket.reservedUntil | date}}&ndash;&gt;-->
      <!--&lt;!&ndash;</td>&ndash;&gt;-->
      <!--&lt;!&ndash;<td>&ndash;&gt;-->
        <!--&lt;!&ndash;<a ng-click="$ctrl.deleteTicket(ticket)">&ndash;&gt;-->
          <!--&lt;!&ndash;<span class="glyphicon glyphicon-trash pull-left text-danger"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
      <!--&lt;!&ndash;</td>&ndash;&gt;-->
    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
    <!--</tbody>-->
  <!--</table>-->
<!--</form>-->
