<form class="form" novalidate>
    <label>Блокировка рядов</label>
    <table class="table">
        <tbody>
        <tr>
            <td><input type="text" name="sector" class="form-control" ng-model="$ctrl.blockRow.sector" placeholder="сектор" required="" /></td>
            <td><input type="text" name="row"  class="form-control" ng-model="$ctrl.blockRow.row" placeholder="ряд" required="" /></td>
            <td><input type="date" name="reservedUntil" class="form-control" ng-model="$ctrl.blockRow.reservedUntil" placeholder="" required="" /></td>
            <td>
                <button type="submit" class="btn btn-default" ng-click="$ctrl.add()">Добавить</button>
            </td>
        </tr>
        </tbody>
    </table>
  <p ng-show="$ctrl.errorMessageSeat">{{ $ctrl.errorMessageSeat }}</p>
</form>
