<label>Список абонементов</label>
<form class="form">
  <table class="table">
    <thead>
    <tr>
      <th>Seat id</th>
      <th>Slug</th>
      <th>Сектор</th>
      <th>Ряд</th>
      <th>Место</th>
      <th>Действителен</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let ticket of seasonTickets">
      <td> {{ticket._id}}</td>
      <td> {{ticket.slug}}</td>
      <td> {{ticket.sector}}</td>
      <td> {{ticket.row}}</td>
      <td> {{ticket.seat}}</td>
      <td> {{ticket.reservedUntil | date}}</td>
      <td><a class="btn btn-primary btn-sm" (click)="handleDelete(ticket)">Удалить</a>
    </tr>
    </tbody>
  </table>
</form>
