<div class="row">
  <hr>
  <div class="col-md-12">
    <blockquote *ngIf="message">
      <p>{{ message}}</p>
    </blockquote>
  </div>
  <div class="col-md-12">
    <div class="col-md-4">
      <label>Список матчей</label>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let match of nextMatches">
          <span class="badge" (click)="edit(match)" style="cursor: pointer;">Edit</span>
          {{match.headline}}
        </li>
      </ul>
      <form class="form-inline">
        <button class="btn btn-default" (click)=" edit({})">Добавить новый матч</button>
      </form>
    </div>
    <div class="col-md-4">
      <app-edit *ngIf="isMatchExist()"
              match-to-edit=" matchToEdit"
              price-schemas=" priceSchemas"
              all-team-logos=" allTeamLogos"
              on-change="onMatchUpdate($event)" on-upload=" upload($event)"></app-edit>
    </div>
    <div class="col-md-4">
      <label>удалить матч</label>
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="match Id" [(ngModel)]="matchId" name="matchId">
        </div>
        <button type="submit" class="btn btn-default" (click)=" remove()">Удалить</button>
      </form>
      <hr>
      <label>Прошедшие матчи</label>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let match of prevMatches">
          <a (click)=" deleteMatch(match.id)" class="trash"><span class="glyphicon glyphicon-trash pull-right text-danger"></span></a>
          {{match.headline}}
        </li>
      </ul>
    </div>
  </div>
</div>

