<div class="row">
  <hr>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Матчи</div>
      <ul class="list-group" ng-repeat="match in $ctrl.matches">
        <li class="list-group-item">{{match.headline}}
          <button class="btn btn-default" ng-click="$ctrl.edit(match)">Edit</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <editor match-to-edit="$ctrl.matchToEdit"></editor>
  </div>
  <div class="col-md-4">
    <pre>{{$ctrl.matches| json}}</pre>
  </div>
</div>

