<div class="row">
  <hr>
  <div class="col-md-12">
    <blockquote ng-show="$ctrl.message">
      <p>{{$ctrl.message}}</p>
    </blockquote>
  </div>
  <div class="col-md-12">
    <div class="col-md-4">
      <label>Список матчей</label>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="match in $ctrl.nextMatches">
          <span class="badge" ng-click="$ctrl.edit(match)" style="cursor: pointer;">Edit</span>
          {{match.headline}}
        </li>
      </ul>
      <form class="form-inline">
        <button class="btn btn-default" ng-click="$ctrl.edit({})">new</button>
      </form>
    </div>
    <div class="col-md-4">
      <editor match-to-edit="$ctrl.matchToEdit" price-schemas="$ctrl.priceSchemas"
              on-change="$ctrl.onMatchUpdate($event)"></editor>
    </div>
    <div class="col-md-4">
      <label>удалить матч</label>
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="match Id" ng-model="$ctrl.matchId">
        </div>
        <button type="submit" class="btn btn-default" ng-click="$ctrl.remove()">Удалить</button>
      </form>
      <hr>
      <label>Прошедшие матчи</label>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="match in $ctrl.prevMatches">
          <a ng-click="$ctrl.deleteMatch(match.id)" class="trash"><span class="glyphicon glyphicon-trash pull-right text-danger"></span></a>
          {{match.headline}}
        </li>
      </ul>
    </div>
  </div>
</div>

