.container {
  max-width: 970px;
}
.example-form {
  align-content: center;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.error {
  color: #f44336;
}

.notification {
  margin-bottom: 15px;
}
