<label>Список рядов</label>
<form class="form">
  <table class="table">
    <thead>
    <tr>
      <th>Сектор</th>
      <th>Ряд</th>
      <th>Действителен</th>
      <th>Удалить</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in $ctrl.blockRows | orderBy: 'reservedUntil'">
      <td>
        {{row.sector}}
      </td>
      <td>
        {{row.row}}
      </td>
      <td>
        {{row.reservedUntil | date}}
      </td>
      <td>
        <a ng-click="$ctrl.deleteBlockRow(row)">
          <span class="glyphicon glyphicon-trash pull-left text-danger"></span>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</form>
