.container
    .row
        .col-sm-12
            h1 Buy tickets
        .col-sm-12
            h3 Available Ticket
            p {{ controller.message }}
            .col-sm-8.col-sm-offset-1.tickets
                .ticket.col-sm-12(ng-repeat='ticket in controller.tickets')
                    .col-sm-2
                        | {{ ticket.text }}
                    .col-sm-2
                        label(class="label label-{{ ticket.available ? 'success' : 'danger' }}")
                            | {{ ticket.available ? 'Available' : 'Sold' }}
                    .col-sm-2
                        //a.btn.btn-primary(ng-click='controller.buyTicket(ticket)', ng-hide='!ticket.available')
                        //    | Buy ticket
                        a.btn.btn-primary(href='{{ ticket.buyNowLink }}', ng-hide='!ticket.available')
                            | Buy Now via LiqPay
                        a.btn.btn-info(href='/api/tickets/{{ ticket.code }}/print', target="_blank", ng-hide='ticket.available')
                                | Print Ticket
                    .col-sm-4
                        div(class='has-{{ controller.statuses[ticket._id].type }}')
                            span.help-block
                                | {{ controller.statuses[ticket._id].message }}



