.container
    .row
        .col-sm-12
            h1 Buy tickets
        .col-sm-12
            h3 Available Ticket
            .col-sm-8.tickets
                .ticket.col-sm-12(ng-repeat='ticket in ticket.tickets')
                    .col-sm-6
                        | {{ ticket.text }}
                    .col-sm-2
                        label(class="label label-{{ ticket.available ? 'success' : 'danger' }}")
                            | {{ ticket.available ? 'Yes' : 'No' }}
                    .col-sm-4
                        button.btn.btn-primary(ng-disabled = '!ticket.available')
                            | Buy ticket

