<div class="metallink">
  <a href="http://metalist1925.com/" target="_blank" title="Официальный сайт Металлист 1925"><img src="assets/images/offmetal.png"/></a>
  <a href="http://metalist1925.com/mem_club/about.php" target="_blank" title="Клуб болельщиков Металлист 1925" ><img src="assets/images/memclub.png"/></a>
</div>
<div class="container">
  <address>
    Свои замечания и пожелания по улучшению сервиса онлайн-продажи билетов просьба направлять на почту<br>
    <strong>email:</strong><a href="mailto:fc@metalist1925.com">fc@metalist1925.com</a><br>
    <abbr title="Телефон"><strong>Тел:</strong></abbr> (057) 76 1925 6, (093) 308-38-83
  </address>
</div>

