<hr>
<table class="table table-hover">
  <thead class="thead-inverse">
  <tr>
    <th>Match</th>
    <th>Дата</th>
    <th>Тип пользователя</th>
    <th>Количество</th>
    <th>Сумма</th>
    <th>Детали (по секторам)</th>
  </tr>
  </thead>
  <tbody *ngFor="let stat of eventStatistics" >
    <tr *ngFor="let day of stat">
      <td>{{day.headline}}</td>
      <td>{{day.date | date: 'dd-MM-yyyy HH:mm'}}</td>
      <td>{{day.cashier}}</td>
      <td>{{day.count}}</td>
      <td>{{day.sum}}</td>
      <td>
        <ul>
          <li *ngFor="let detail of sortBySector(day.details)">{{detail.sector}} - {{detail.count}} шт.</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
