<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Select desired seats</h1>
        </div>
        <div class="col-sm-12">
            <div class="match-info">
                <div>Rival: {{ controller.match.rival }}</div>
                <div>Date: {{ controller.match.date|date:'MMM d, y HH:mm' }}</div>
            </div>
            <div class="col-sm-8 seats">
                <div ng-repeat="seat in controller.seats" class="seat col-sm-3 thumbnail">
                    <div class="caption">
                        <div class="seat-sector">Sector: {{ seat.sector }}</div>
                        <div class="seat-row">Row: {{ seat.row }}</div>
                        <div class="seat-number">Seat Number: {{ seat.number }}</div>
                        <div class="seat-price">Price: {{ seat.price | money }}</div>

                        <div class="buttons">
                            <!--<a ui-shref="add-to-cart" class="btn btn-success btn-xs" ng-click="">Add to Cart</a>-->
                            <add-to-cart seat="seat" match="controller.match"></add-to-cart>
                            <a ui-shref="buy-now" class="btn btn-warning btn-xs disabled">Buy Now</a>
                        </div>
                    </div>
                </div>
                <div class="empty" ng-hide="controller.seats.length">There are no seats available</div>
            </div>
            <div class="col-sm-4 cart">
                <cart></cart>
            </div>
        </div>
    </div>
</div>
