<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>{{'auth.registration' | translate}}</h1>
    </div>
    <div class="col-sm-12">
      <form name="form" class="form" [formGroup]="registrationForm" (ngSubmit)="register()">
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput [placeholder]="'auth.name' | translate" type="text" name="name" formControlName="name">
            <mat-error *ngIf="registrationForm.get('name').hasError('required')">
              <input-required-error [field]="'auth.name' | translate"></input-required-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" type="email" name="email" formControlName="email">
            <mat-error *ngIf="registrationForm.get('email').hasError('email') &&
            !registrationForm.get('email').hasError('required')">
              <input-invalid-email-error></input-invalid-email-error>
            </mat-error>
            <mat-error *ngIf="registrationForm.get('email').hasError('required')">
              <input-required-error field="Email"></input-required-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Пароль" type="password" name="password" formControlName="password">
            <mat-error *ngIf="registrationForm.get('password').hasError('required')">
              <input-required-error field="Пароль"></input-required-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput [placeholder]="'auth.confirmPassword' | translate" type="password" name="confirmPassword"
                   formControlName="confirmPassword">
            <mat-error *ngIf="registrationForm.get('confirmPassword').hasError('required')">
              <input-required-error [field]="'auth.passwordConfirmation' | translate"></input-required-error>
            </mat-error>
          </mat-form-field>
          <div *ngIf="registrationForm.hasError('mismatchedPasswords') &&
          registrationForm.get('confirmPassword').touched" class="error">
            {{'auth.passwords' | translate}}
            <strong>{{'auth.notMatch' | translate}} </strong>
          </div>
          <input type="checkbox" id="subscribeNews" name="subscribeNews" formControlName="subscribeNews">
            {{'auth.message4' | translate}}
        </div>
        <div class="help-block">
          <span *ngIf="error === 'fail'; else elseBlock">
            {{('message.login.' + error) | translate}}
          </span>
          <ng-template #elseBlock>
            <span>{{error}}</span>
          </ng-template>
        </div>
        <div class="button-row">
          <button type="submit" class="btn btn-inverse btn-lg btn-login" [disabled]="registrationForm.invalid">
            {{'auth.register' | translate}}
          </button>
          <a class="btn btn-default btn-lg btn-register" routerLink="/login">{{'auth.loginForm' | translate}}</a>
        </div>
        <hr/>
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <oauth-buttons></oauth-buttons>
          </div>
        </div>
      </form>
    </div>
  </div>
  <hr/>
</div>


