@import '../../variables';
//@media (max-width: 610px) {
//  h2 {
//    margin: 0;
//    font-size: 20px;
//  }
//
//}
:host {
  width: 100%;
}
.match-wrapper {
  display: flex;
}

.left-bar {
  float: left;
  width: 25%;
  padding: 30px 0;
  background-color: @white;
}
.right-bar {
  float: left;
  width: 75%;
  padding: 80px 0;

}
