@media (min-width: 320px) and (max-width: 610px) and (orientation: portrait) {
  .imgSeatsStyle {
    display: inline-block;
    background-color: #60709E;
    width: 4px;
    height: 4px;
    margin: 0 1px 0 0;
    cursor: pointer;
  }

  .blockedSeat {
    display: inline-block;
    background-color: #ffcc00;
    cursor: default;
    width: 4px;
    height: 4px;
    margin: 0 1px 0 0;
  }

  .soldSeat {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: grey;
    margin: 0 1px 0 0;
    cursor: default;
  }

  ul.rows li:before {
    margin: 0;
    padding: 0;
  }

  .address {
    font-size: 0.8vw;
  }

  .checkout {
    width: 150px;
    display: table;
    margin: 0 auto;
  }

  [cardSize] {
    width: 50%;
    display: table;
    margin: 0 auto;
    padding: 0;
  }

  .liststyle {
    list-style: none;
  }

  .txt {
    display: inline-block;
    width: 25px;
    height: 8px;
    margin: 0;
    padding: 0;
    font-size: 35%;
    color: #636363;
    list-style: none;
  }

  .liststyle li {
    margin-bottom: -15px;
  }

  .seatsMargin {
    margin-left: 10px;
    width: 320px;
    padding: 0 !important;
  }

  .rowNames {
    width: 25px;
    //margin-top: -2px;
    padding-right: 0 !important;
  }

  .hideBlock {
    display: none;
  }
}

@media (min-width: 611px) and (max-width: 1280px) {
  .imgSeatsStyle {
    display: inline-block;
    background-color: #60709E;
    width: 8px;
    height: 8px;
    margin: 0 1px 0 0;
    cursor: pointer;
  }

  .blockedSeat {
    display: inline-block;
    background-color: #ffcc00;
    width: 8px;
    height: 8px;
    margin: 0 1px 0 0;
    cursor: default;
  }

  .soldSeat {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: grey;
    margin: 0 1px 0 0;
    cursor: default;
  }

  ul.rows li:before {
    margin: 0;
    padding: 0;
  }

  .address {
    font-size: 0.8vw;
  }

  .checkout {
    width: 150px;
    display: table;
    margin: 0 auto;
  }

  [cardSize] {
    width: 50%;
    display: table;
    margin: 0 auto;
    padding: 0;
  }

  .liststyle {
    list-style: none;
  }

  .txt {
    display: inline-block;
    width: 35px;
    height: 8px;
    margin: 0;
    padding: 0;
    font-size: 70%;
    color: #636363;
    list-style: none;
  }

  .liststyle li {
    margin-bottom: -10px;
  }

  .seatsMargin {
    width: 540px;
    padding: 0 !important;
  }

  .rowNames {
    width: 55px;
    //margin-top: -2px;
    padding-right: 0 !important;
  }

  .hideBlock {
    display: none;
  }
}

@media (min-width: 1281px) and (max-width: 4096px) {
  .imgSeatsStyle {
    display: inline-block;
    background-color: #60709E;
    width: 14px;
    height: 14px;
    margin: 0 1px 0 0;
    cursor: pointer;
  }

  .blockedSeat {
    display: inline-block;
    background-color: #ffcc00;
    width: 14px;
    height: 14px;
    margin: 0 1px 0 0;
    cursor: default;
  }

  .soldSeat {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: grey;
    margin: 0 1px 0 0;
    cursor: default;
  }

  .address {
    font-size: 0.8vw;
  }

  .liststyle {
    list-style: none;
  }

  .txt {
    display: inline-block;
    width: 45px;
    height: 8px;
    margin: 0;
    padding: 0;
    font-size: 90%;
    color: #636363;
    list-style: none;
  }

  .liststyle li {
    margin-bottom: -5px;
  }

  .seatsMargin {
    padding: 0 !important;
  }

  .rowNames {
    width: 65px;
    margin-top: -2px;
    padding-right: 0 !important;
  }
}

.imgSeatsStyle:hover {
  -webkit-transition-duration: 0.1ms;
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-filter: drop-shadow(0px 0px 5px #ffffff);
  filter: drop-shadow(0px 0px 5px #ffffff);
}

.gradientSeats {
  margin: 5px 0 5px 0;
  width: 100%;
  height: 1px;
  background: radial-gradient(circle, rgba(133, 133, 133, 0.68), rgba(75, 75, 75, 0));
}

.content-main,
.top-timeline-tweetbox {
  float: right;
  position: absolute;
  width: 880px;
}

/*skipping seats*/
#s14011, #s2191, #s2192, #s2193, #s2194, #s2195,
#s2171, #s2172, #s2173, #s2174, #s2175,
#s2181, #s2182, #s2183, #s2184, #s2185 {
  visibility: hidden;
}

.battonSectores {
  width: 100px;
  margin: auto;
}

.backBtn {
  display: table;
  margin: 0 auto;
}

[uib-popover-popup].popover,
[uib-popover-html-popup].popover,
[uib-popover-template-popup].popover {
  display: block !important;
  border-radius: 10px !important;
}

.popover p {
  color: #636363;
  font-size: 1em;
  margin: 0 0 0 0 !important;
}

ul {
  padding: 0;
}

.col-fixed {
  min-width: 320px;
}

.row-centered {
  text-align: center;
}

.colPadding {
  min-width: 280px;
  padding-top: 10px;
}

.cardBlock {
  margin-top: 10px;
}
