<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="btn-group btn-breadcrumb">
        <a href="/" class="btn btn-warning" title="Все матчи">Все матчи</a>
        <a onclick="history.back()" class="btn btn-warning" title="Выбор сектора">Выбор сектора</a>
        <span class="btn btn-warning" style="cursor:default">Выбор места</span>
        <span class="btn btn-default" style="cursor:default">Оформление заказа</span>
        <span class="btn btn-default" style="cursor:default">Оплата</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4"><h3 style="text-align: left; font-weight: bold">{{ vm.match.date|date:'MMM d, y' }}<br>{{      vm.match.date|date:'HH:mm' }}</h3></div>
    <div class="col-xs-4" style="text-align: center"><h3>Металлист 1925<br>{{ vm.match.rival }}</h3></div>
    <div class="col-xs-4" style="text-align: right"><span
      class="address">Стадион Металлист<br>ул. Плехановская, 65</span>
      <br><span class="fa fa-subway" uib-popover="Станция метро" popover-trigger="'mouseenter'" popover-placement="left"></span> Спортивная / Метростроителей
    </div>
  </div>
  <div class="gradientSeats"></div>
  <div class="row">
    <div class="col-xs-12">
      <p style="text-align: center; font-size: large">Выбор места ({{vm.sector.name}} Сектор) - {{vm.sectorPrice}} грн.</p>
    </div>
    <div class="col-sm-12">
      <ul class="rows">
        <li ng-repeat="row in vm.sector.rows"><span class="rowText">{{row.name}}</span>
          <div id="s{{vm.sector.name}}{{row.name}}{{1+$index}}" class="imgSeatsStyle"
               ng-repeat="seat in vm.makeArrayFromNumber(row.seats)"
               ng-click="vm.addToCart(vm.match, vm.tribuneName, vm.sector.name, row.name, seat, vm.sectorPrice)"
               uib-popover-html="'<p>Трибуна: <b>{{vm.tribuneName}} {{vm.sector.name}}</b><br />Ряд: <b>{{row.name}}</b><br />Место: <b>{{seat}}</b></p>'"
               popover-trigger="'mouseenter'"></div>
        </li>
      </ul>
      <div class="gradientSeats"></div>
      <div class="backBtn"><a onclick="history.back()" class="btn btn-default" title="Go back">Назад</a></div>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="col-xs-2"></div>
    <div class="col-xs-4 cart">
      <cart></cart>
    </div>
    <div class="col-xs-4 cart">
      <div ng-show="vm.cart.size"><a ui-sref="checkout" class="checkout btn btn-info btn-block">Оформить заказ</a>
      </div>
    </div>
  </div>
</div>
