  <ul class="list-group">
    <li class="list-group-item" ng-repeat="colorSchema in $ctrl.priceSchema.colorSchema">
      <span class="fa fa-2x fa-square" style="color: {{colorSchema.color}}"></span>
      Price:{{colorSchema.price}}
      <span class="badge" ng-click="$ctrl.colorDel(colorSchema)" style="cursor: pointer;">Del</span>
    </li>
    <li class="list-group-item" ng-show="$ctrl.priceSchema.name">

      <div class="form-group">
        Color
        <select name="color"
                id="color"
                ng-model="$ctrl.currentTribuneColor"
                ng-options="color as color.colorName for color in $ctrl.colors"
                class="form-control"
        <!--ng-change="update()"-->
        ng-change="$ctrl.currentPrice.color = color.color"
        multiple
        required>
        </select>
      </div>
      Price
      <input class="form-control" type="number" name="price" ng-model="$ctrl.currentPrice.price"/>
      <span class="badge" ng-click="$ctrl.colorSave(currentPrice)" style="cursor: pointer;">Save</span>
    </li>
  </ul>