<div class="menu-price-schema">
  <label>Список схем</label>
  <div class="list-group">
    <list-item *ngFor="let schema of priceSchemas"
               [headline]="schema.priceSchema.name + ' : ' + schema.priceSchema.stadiumName"
               [edit]="true" (editItem)="selectSchema(schema)"
               [delete]="true" (deleteItem)="deleteSchema(schema)"></list-item>
  </div>
  <button class="btn btn-default" (click)="createSchema({stadiumName: 'metalist', name: ''})">
    New price schema
  </button>
</div>

