<div class="columns">
<ul class="list-group">
          <input class="form-control" type="text" [value]="filterText" [placeholder]="filterPlaceholder" [formControl]="filterInput" />
  <li *ngFor="let user of users | filter:{name: filterText} | paginate: { itemsPerPage: 20, currentPage: p }" class="list-group-item">
    <strong>{{user.name}}</strong>  {{user.role}}<br/>
    <span class="text-muted">{{user.email}}</span>
    <span class="btn-group-sm pull-right" *ngIf="user.role!=='admin'">
        <a class="role" (click)="setRole(user, 'steward')"><span class="text-warning">Steward</span></a> |
        <a class="role" (click)="setRole(user, 'cashier')"><span class="text-warning">Cashier</span></a> |
        <a class="role" (click)="setRole(user, 'moderator')"><span class="text-success">Moderator</span></a> |
        <a class="role" (click)="setRole(user, 'user')"><span class="text-info">User</span></a> |
        <a class="role" (click)="setRole(user, 'api')"><span class="text-info">Api</span></a>
    </span>
  </li>
</ul>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>