<!--<hr>-->
<!--<calendar on-date-changes="dateChanges($event)"></calendar>-->
<!--<table class="table table-hover">-->
  <!--<thead class="thead-inverse">-->
  <!--<tr>-->
    <!--<th>Матч</th>-->
    <!--<th>Сектор</th>-->
    <!--<th>Ряд</th>-->
    <!--<th>Место</th>-->
    <!--<th>Прайс</th>-->
    <!--<th></th>-->
  <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
  <!--&lt;!&ndash;<tr ng-repeat="stat in statistics | orderBy: '-headline'">&ndash;&gt;-->
    <!--&lt;!&ndash;<td ng-bind="stat.headline">&ndash;&gt;-->
    <!--&lt;!&ndash;</td>&ndash;&gt;-->
    <!--&lt;!&ndash;<td ng-bind="stat.sector"></td>&ndash;&gt;-->
    <!--&lt;!&ndash;<td ng-bind="stat.row"></td>&ndash;&gt;-->
    <!--&lt;!&ndash;<td ng-bind="stat.seat"></td>&ndash;&gt;-->
    <!--&lt;!&ndash;<td ng-bind="stat.amount"></td>&ndash;&gt;-->
    <!--&lt;!&ndash;<td><a class="btn btn-primary btn-sm" ng-click="prints(stat)">Повтор печати</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</td>&ndash;&gt;-->
    <!--&lt;!&ndash;<td><a class="btn btn-primary btn-sm" ng-click="removeTicket(stat.id)">Отменить билет</a>&ndash;&gt;-->
    <!--&lt;!&ndash;</td>&ndash;&gt;-->
  <!--&lt;!&ndash;</tr>&ndash;&gt;-->
  <!--</tbody>-->
<!--</table>-->
<!--<render-ticket tickets="ticket" on-change="ticketRendering()"></render-ticket>-->
