<hr>

<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Введите дату" [ngModel]="date"
         (dateInput)="addEvent('input', $event)">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<table class="table table-hover">
  <thead class="thead-inverse">
  <tr>
    <th>Матч</th>
    <th>Сектор</th>
    <th>Ряд</th>
    <th>Место</th>
    <th>Прайс</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let stat of statistics;">
    <td>{{stat.headline}}</td>
    <td>{{stat.sector}}</td>
    <td>{{stat.row}}</td>
    <td>{{stat.seat}}</td>
    <td>{{stat.amount}}</td>
    <td><a class="btn btn-primary btn-sm" (click)="prints(stat)">Повтор печати</a>
    </td>
    <td><a class="btn btn-primary btn-sm" (click)="removeTicket(stat.id)">Отменить билет</a>
    </td>
  </tr>
  </tbody>
</table>
