<label ng-show="!$ctrl.match.id">Новый Матч</label>
<label ng-show="$ctrl.match.id">Редактировать Матч</label>
<span class="label label-default">{{$ctrl.match.id}}</span>
    <form>
      <div class="form-group">
        <label>Соперник</label>
        <input type="text" class="form-control" ng-model="$ctrl.match.rival">
      </div>
      <div class="form-group">
        <label>Герб</label>
        <input type="text" class="form-control" ng-model="$ctrl.match.poster">
      </div>
      <div class="form-group">
        <label>Описание</label>
        <textarea name="info" class="form-control" ng-model="$ctrl.match.info" cols="15" rows="4"></textarea>
      </div>
      <div class="form-group">
        <label>Дата и Время</label>
        <input date-time format="DD-MM-YYYY HH:mm" class="form-control" ng-model="$ctrl.match.date">
      </div>
      <select class="form-control"
              ng-model="$ctrl.match.priceSchema"
              ng-options="option.priceSchema.name for option in $ctrl.priceSchemas track by option._id"></select>
      <button type="submit" class="btn btn-default" ng-click="$ctrl.update()" ng-bind="$ctrl.match.id ? 'Coхранить': 'Добавить'"></button>
    </form>
