<label ng-show="$ctrl.matchToEdit._id === undefined">Новый Матч</label>
<label ng-show="$ctrl.matchToEdit._id !== undefined">Редактировать Матч</label>
    <form>
      <div class="form-group">
        <label>Соперник</label>
        <label> ! {{$ctrl.matchToEdit}} ! </label> <br>
        <input type="text" class="form-control" ng-model="$ctrl.matchToEdit.rival">
      </div>
      <div class="form-group">
        <label>Дата и Время</label>
        <input type="date" class="form-control" ng-model="$ctrl.matchToEdit.date">
      </div>
      <select class="form-control"
              ng-model="$ctrl.priceSchema"
              ng-options="option.priceSchema.name for option in $ctrl.priceSchemas track by option._id"></select>
      <button ng-show="$ctrl.matchToEdit._id === undefined" type="submit" class="btn btn-default" ng-click="$ctrl.addMatch()">Добавить</button>
      <button ng-show="$ctrl.matchToEdit._id !== undefined" type="submit" class="btn btn-default" ng-click="$ctrl.saveMatch()">Сохранить</button>
    </form>
