img {
    width: 100%;
    height: auto;
    max-width: 150px;
    max-height: 150px;
}
.example-container > * {
    width: 100%;
}

.example-container > button {
    width: auto;
}

.example-container > .form-group {
    display: flex;
    flex-direction: column;
}