<label>{{match.id ? 'Редактировать Матч' : 'Новый Матч'}}</label>
<form class="example-container">

  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Соперник" [(ngModel)]="match.rival" name="rival">
  </mat-form-field>

  <div class="form-group">
    <label>Герб</label>

    <div class="teamLogos">
      <img [src]="match.poster" alt="">
    </div>

    <mat-form-field>
      <mat-select [(ngModel)]="match.poster" name="logo" placeholder="Выберите герб">
        <mat-option *ngFor="let logo of teamLogos" [value]="path + logo">
          {{ logo }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="btn-group">
      <label class="btn btn-default">Добавить новый герб
        <input type="file" id="file" name="file" (change)="handleFileInput($event)" style="display: none;">
      </label>
    </div>
  </div>
  <mat-form-field>
    <textarea matInput placeholder="Описание" name="info" [(ngModel)]="match.info" matAutosizeMinRows="4"></textarea>
  </mat-form-field>
  <mat-form-field>
    <input matInput class="date-time-picker"
      [(ngModel)]="match.date" name="date" placeholder="Дата и время"
      ngui-datetime-picker/>
  </mat-form-field>
  <mat-form-field>
    <mat-select [(ngModel)]="match.priceSchema" name="schema" [compareWith]="setSelectedOption">
      <mat-option *ngFor="let schema of priceSchemas" [value]="schema">
        {{schema.priceSchema.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button type="submit" class="btn btn-default" (click)="saveMatch()">
    {{match.id ? 'Coхранить': 'Добавить'}}
  </button>
  <button class="btn btn-default" (click)="close()">Закрыть</button>
</form>
