<div class="sector-wrapper">
  <div class="left-bar">
    <div>
      <div *ngIf="!isMobile">
        <h1>{{'match.choosePlace' | translate}}</h1>
        <div class="circle-tab-container">
          <circle-tab [rival]="match?.rival" [image]="match?.poster"></circle-tab>
        </div>
      </div>
      <div class="tickets-wrapper">
        <ng-scrollbar>
          <ticket-item *ngFor="let ticket of optimisticSeats; let i = index"
                       [ticket]="ticket"
                       [index]="i + 1"
                       [light]="true">
          </ticket-item>
        </ng-scrollbar>
        <app-summary [light]="true"></app-summary>
      </div>
    </div>
    <div>
      <button *ngIf="isCashier; else notCashierBlock" class="classic" (click)="pay()">
        {{'match.print' | translate}}
      </button>
      <ng-template #notCashierBlock>
        <button class="classic" routerLink="/checkout">{{'common.execute' | translate}}</button>
      </ng-template>
      <div *ngIf="!isMobile">
        <div *ngIf="match?.date" class="match-date">{{match.date | localeDate:'DD MMMM YYYY'}}</div>
        <div *ngIf="match?.date" class="match-time">{{match.date | localeDate:'HH:mm'}}</div>
      </div>
      <back-button [backUrl]="'/match/' + match?.id"></back-button>
    </div>
  </div>
  <div class="right-bar" *ngIf="sector">
    <div class="header">
      <div *ngIf="isMobile">
        <h1>{{'match.choosePlace' | translate}}</h1>
        <div class="circle-tab-container">
          <circle-tab [rival]="match?.rival" [image]="match?.poster"></circle-tab>
        </div>
      </div>
      <div *ngIf="isMobile">
        <div *ngIf="match?.date" class="match-date">{{match.date | localeDate:'DD MMMM YYYY'}}</div>
        <div *ngIf="match?.date" class="match-time">{{match.date | localeDate:'HH:mm'}}</div>
      </div>
    </div>
    <div>
      <ul class="seats">
        <li *ngFor="let row of sector.rows.reverse(); index as ind" [ngClass]="{'rowdivider': firstUpperRow == row.name}">
        <span class="number">{{row.name}}</span>
        <span *ngFor="let seat of makeArrayFromNumber(row.seats); let i = index;"
              id="s{{sector.name}}r{{row.name}}s{{1+i}}"
              [class]="addClassByCheckSoldSeat('s'+sector.name+'r'+row.name+'st'+seat)"
              [class.pointerEventsN]="processedSeat === 's'+sector.name+'r'+row.name+'st'+seat"
              (click)="toggleSeat({slug: 's'+sector.name+'r'+row.name+'st'+seat})"
              tooltip="<div><div><b>{{tribune}}</b></div><div>Ceктор: <b>{{sector.name}}</b></div>
                      <div>Ряд: <b>{{row.name}}</b></div><div>{{'common.place' | translate}}: <b>{{seat}}</b>
                      <div>{{'common.price' | translate}}: <b>{{sectorPrice}}грн</b></div></div>">
        </span>
        </li>
      </ul>
    </div>
  </div>
</div>

