<div class="container">
  <navpanel section="3"></navpanel>
  <div class="row">
    <app-match-details [matchDetails]="match" [stadiumName]="match?.stadiumName"></app-match-details>
    <div class="col-xs-12" *ngIf="sector">
      <h2 style="text-align: center;">Выбор места ({{tribune}} Трибуна, {{sector.name}} Сектор) - {{sectorPrice}}
        грн.</h2>
    </div>
    <div class="row rowPadding" *ngIf="sector">
      <!--//@TODO need compolent-->
      <div class="col-lg-12 col12Padding">
        <div class="col-xs-1 rowNames">
          <ul class="liststyle">
            <li *ngFor="let row of sector.rows" [ngClass]="{'rowdivider': firstUpperRow == row.name}">
              <div class="txt">Ряд {{row.name}}</div>
            </li>
          </ul>
        </div>
        <div class="col-xs-11 seatsMargin" >
          <ul class="liststyle">
            <li *ngFor="let row of sector.rows" [ngClass]="{'rowdivider': firstUpperRow == row.name}">
              <div id="s{{sector.name}}{{row.name}}{{1+$index}}"
                   [class]="addClassByCheckSoldSeat('s'+sector.name+'r'+row.name+'st'+seat)"
                   [class.pointerEventsN]="processedSeat === 's'+sector.name+'r'+row.name+'st'+seat"
                   *ngFor="let seat of makeArrayFromNumber(row.seats)"
                   (click)="toggleSeat('s'+sector.name+'r'+row.name+'st'+seat)"
                   tooltip="<span>Трибуна: <b>{{tribune}} {{sector.name}}</b><br />
                             Ряд: <b>{{row.name}}</b><br />Место: <b>{{seat}}</b></span>"
              >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="gradientSeats"></div>
    </div>
  </div>
  <div class="cardBlock text-center">
    <div class="col-xs-12 col-md-9 col-centered col-fixed">
      <div>
        <div>
          <app-details [seats]="optimisticSeats" (onDelete)="toggleSeat($event)"></app-details>
        </div>
      </div>
    </div>
    <div *ngIf="optimisticSeats.length" class="colPadding col-xs-3 col-centered col-fixed">
      <div >
        <button *ngIf="isCashier; else notCashier" class="btn btn-primary btn-block" (click)="pay()">
          Распечатать
        </button>
        <ng-template #notCashier>
          <a class="btn btn-primary btn-block" routerLink="/checkout">Оплатить</a>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <blockquote *ngIf="isSkybox()">
      <strong>Корпоративные ложи Skybox. </strong><br><br>
      <p>Лучшие места для просмотра матчей команды «Металлист 1925»!</p>

      <p>Корпоративные ложи Skybox-современные и комфортабельные ложи для VIP-персон, вместимостью от 11 до 20 мест,
        расположенные на 4 уровне Западной трибуны стадиона «Металлист».</p>
      <p>Стоимость аренды одного места на одном матче - <strong>{{sectorPrice}} грн.</strong></p>
      <p>К вашим услугам :</p>
      <ul>
        <li>комфортабельные современные помещения с отдельным VIP входом и индивидуальной террасой,</li>
        <li>бесшумный лифт на этаж вместимостью до 12 человек (Schindler),</li>
        <li>специально разработанные мягкие кресла для удобного просмотра матча,</li>
        <li>центральное расположение на комфортной для просмотра высоте,</li>
        <li>панорамный вид на поле,</li>
        <li>программка к матчу,</li>
        <li>персональный официант непосредственно в ложе,</li>
        <li>фуршетное меню (алкогольные напитки не включены) премиум-класса за час до начала матча и в перерыве
          между
          таймами,
        </li>
        <li>место на VIP парковке Р-1.</li>
      </ul>
    </blockquote>
  </div>
</div>
