<hr>
<div class="col-md-4">
  <label>Регистрировать билет</label>
  <form class="form-inline">
    <div class="form-group">
      <input type="text" name="accessCode" class="form-control" [(ngModel)]="accessCode" placeholder="Штрихкод билета"
             required=""/>
    </div>
    <button type="submit" class="btn btn-default" (click)="regTicket(accessCode)">Найти</button>
  </form>
  <form *ngIf="preSellTicket">
    <div class="form-group">
      <label>Место</label>
      <p>Трибуна {{ preSellTicket.seat.tribune}} Сектор {{ preSellTicket.seat.sector}} Ряд
        {{preSellTicket.seat.row}} Место {{ preSellTicket.seat.seat}}</p>
    </div>
    <div class="form-group">
      <label>Матч</label>
      <p>{{preSellTicket.match.headline}}</p>
    </div>
    <div class="form-group">
      <label>Цена</label>
      <p>{{preSellTicket.amount}}</p>
    </div>
    <div class="form-group">
      <label>Статус</label>
      <p>{{preSellTicket.status}}</p>
    </div>
    <button *ngIf="preSellTicket.status == 'paid'" class="btn btn-default"
            (click)="createSeasonTicket()">Регистрировать
    </button>
    <p [hidden]="!seatMessage">{{seatMessage}}</p>
  </form>
</div>
<div class="col-md-8" *ngIf="seasonTickets">
  <p [hidden]="!abonementMessage">{{abonementMessage}}</p>
  <abonement-ticket-list [seasonTickets]="seasonTickets"
                         (deleteTicket)="handleDeleteTicket($event)"></abonement-ticket-list>

</div>

