<hr>
<div class="col-md-4">
  <label>{{'cashbox.message4' | translate}}</label>
  <form class="form-inline input-group">
    <div class="form-group has-feedback has-clear">
      <input type="text" name="accessCode" class="form-control" [(ngModel)]="accessCode"
             [placeholder]="'cashbox.barcode' | translate" required=""/>
      <span class="form-control-clear glyphicon glyphicon-remove form-control-feedback"
            [class.hidden]="!accessCode?.length"
            (click)="cancelSearchForm()"
      ></span>
    </div>
    <span class="input-group-btn">
      <button type="submit" class="btn btn-default" (click)="regTicket(accessCode)">
      {{'cashbox.find' | translate}}
      </button>
    </span>
  </form>
  <form *ngIf="preSellTicket">
    <div class="form-group">
      <label>{{'common.place' | translate}}</label>
      <p>
        Трибуна {{ preSellTicket.seat.tribune}} Сектор {{ preSellTicket.seat.sector}} Ряд
        {{preSellTicket.seat.row}} {{'common.place' | translate}} {{ preSellTicket.seat.seat}}
      </p>
    </div>
    <div class="form-group">
      <label>Матч</label>
      <p>{{preSellTicket.match.headline}}</p>
    </div>
    <div class="form-group">
      <label>{{'cashbox.price' | translate}}</label>
      <p>{{preSellTicket.amount}}</p>
    </div>
    <div class="form-group">
      <label>Статус</label>
      <p>{{preSellTicket.status}}</p>
    </div>
    <button *ngIf="preSellTicket.status == 'paid'" class="btn btn-default"
            (click)="createSeasonTicket()">
      {{'cashbox.register' | translate}}
    </button>
    <button *ngIf="openedSeasonTicket" class="btn btn-default"
            (click)="printTicket()">
      {{'tickets.print' | translate}}
    </button>
  </form>
  <div *ngIf="seatMessage">
    <p>{{('message.abonementTicket.seat.' + seatMessage) | translate}}</p>
  </div>
</div>
<div class="col-md-8" *ngIf="seasonTickets">
  <p [hidden]="!abonementMessage">{{('message.abonementTicket.abonement.' + abonementMessage) | translate}}</p>
  <abonement-ticket-list [seasonTickets]="seasonTickets"
                         (deleteTicket)="handleDeleteTicket($event)"
                         (printTicket)="printTicket($event)"></abonement-ticket-list>

</div>

