<div mat-dialog-title>
  <p class="title-match">
    <ng-container *ngIf="type === types.ticket">
      {{ ticket.match.headline }}
    </ng-container>
    <ng-container *ngIf="type === types.seasonTicket">
      {{'seasonTickets.seasonTicket' | translate}}
    </ng-container>
  </p>
  <i class="fa fa-times close" aria-hidden="true" (click)="close()"></i>
</div>
<div mat-dialog-content>
  <div>
    <canvas id="mycanvas" class="barcode"></canvas>
    <p class="code">{{ ticket.accessCode }}</p>
  </div>
  <mat-list>
    <mat-list-item>
      <span>Трибуна - {{ 'stadium.' + ticket.tribune | translate | titlecase }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Сектор - {{ ticket.sector }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>Ряд - {{ ticket.row }}</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <span>{{ 'common.place' | translate | titlecase }} - {{ticket.seat}}</span>
    </mat-list-item>
    <ng-container *ngIf="type === types.ticket">
      <mat-divider></mat-divider>
      <mat-list-item>
        <span>{{ 'common.price' | translate | titlecase}} - {{ ticket.price || ticket.amount }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span>{{ ticket.match.date | localeDate:'DD MMMM YYYY HH:mm' }}</span>
      </mat-list-item>
    </ng-container>
  </mat-list>
  <div>
    <p class="place">
      {{ 'match.stadiumMetalist' | translate }}
    </p>
    <p class="place">
      {{ 'match.address' | translate }}
    </p>
  </div>
</div>
