<form class="form" novalidate>
<label>Блокировка мест</label>
<table class="table">
    <tbody>
    <tr>
        <td><input type="text" name="sector" class="form-control" ng-model="$ctrl.newTicket.sector" placeholder="сектор" required="" /></td>
        <td><input type="text" name="row"  class="form-control" ng-model="$ctrl.newTicket.row" placeholder="ряд" required="" /></td>
        <td><input type="text" name="seat" class="form-control" ng-model="$ctrl.newTicket.seat" placeholder="место" required="" /></td>
        <td><input type="date" name="reservedUntil" class="form-control" ng-model="$ctrl.newTicket.reservedUntil" placeholder="" required="" /></td>
        <td>
        <button type="submit" class="btn btn-default" ng-click="$ctrl.update()">Добавить</button>
        </td>
    </tr>
    </tbody>
</table>
  <p ng-show="$ctrl.errorMessageBlockRow">{{ $ctrl.errorMessageBlockRow }}</p>
</form>
