<ng-content select=".title"></ng-content>
<form name="form" class="form" [formGroup]="form" (ngSubmit)="handleSubmit()">
  <div *ngFor="let field of fields">
    <div *ngIf="field === 'subscribeNews'; else elseBlock" class="checkbox-container">
      <input *ngIf="field === 'subscribeNews'" type="checkbox" id="subscribeNews"
             name="subscribeNews" formControlName="subscribeNews">
      <span *ngIf="field === 'subscribeNews'">{{'placeholder.subscribeNews' | translate}}</span>
    </div>
    <ng-template #elseBlock>
      <input [placeholder]="'placeholder.' + field | translate"
             [type]="getInputType(field)"
             [name]="field"
             [id]="field"
             [formControlName]="field"
             (focus)="handleFocus()">
    </ng-template>
    <div class="errors">
      <input-invalid-email-error
        *ngIf="getInputError(field).includes('email') && !getInputError(field).includes('required')">
      </input-invalid-email-error>
      <input-required-error *ngIf="getInputError(field).includes('required')"
                            [field]="'placeholder.' + field | translate">
      </input-required-error>
      <span *ngIf="field === 'confirmPassword' && form.hasError('mismatchedPasswords') &&
        form.get('confirmPassword').touched">
        {{'auth.passwords' | translate}} <strong>{{'auth.notMatch' | translate}}</strong>
      </span>
    </div>
  </div>
  <ng-content select=".redirect"></ng-content>
  <div class="error" [style.visibility]="showError ? 'visible' : 'hidden'">
    <ng-content select=".error"></ng-content>
  </div>
  <button type="submit" class="classic">
    <ng-content select=".button-title"></ng-content>
  </button>



  <!--<input matInput [placeholder]="'auth.name' | translate" type="text" name="name" formControlName="name">-->
  <!--<div class="form-group">-->
    <!--<mat-form-field class="example-full-width">-->
      <!--<mat-error *ngIf="registrationForm.get('name').hasError('required')">-->
        <!--<input-required-error [field]="'auth.name' | translate"></input-required-error>-->
      <!--</mat-error>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field class="example-full-width">-->
      <!--<input matInput placeholder="Email" type="email" name="email" formControlName="email">-->
      <!--<mat-error *ngIf="registrationForm.get('email').hasError('email') &&-->
            <!--!registrationForm.get('email').hasError('required')">-->
        <!--<input-invalid-email-error></input-invalid-email-error>-->
      <!--</mat-error>-->
      <!--<mat-error *ngIf="registrationForm.get('email').hasError('required')">-->
        <!--<input-required-error field="Email"></input-required-error>-->
      <!--</mat-error>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field class="example-full-width">-->
      <!--<input matInput placeholder="Пароль" type="password" name="password" formControlName="password">-->
      <!--<mat-error *ngIf="registrationForm.get('password').hasError('required')">-->
        <!--<input-required-error field="Пароль"></input-required-error>-->
      <!--</mat-error>-->
    <!--</mat-form-field>-->

    <!--<mat-form-field class="example-full-width">-->
      <!--<input matInput [placeholder]="'auth.confirmPassword' | translate" type="password" name="confirmPassword"-->
             <!--formControlName="confirmPassword">-->
      <!--<mat-error *ngIf="registrationForm.get('confirmPassword').hasError('required')">-->
        <!--<input-required-error [field]="'auth.passwordConfirmation' | translate"></input-required-error>-->
      <!--</mat-error>-->
    <!--</mat-form-field>-->

    <!--<div *ngIf="registrationForm.hasError('mismatchedPasswords') &&-->
          <!--registrationForm.get('confirmPassword').touched" class="error">-->
      <!--{{'auth.passwords' | translate}}-->
      <!--<strong>{{'auth.notMatch' | translate}} </strong>-->
    <!--</div>-->

    <!--<input type="checkbox" id="subscribeNews" name="subscribeNews" formControlName="subscribeNews">-->
    <!--{{'auth.message4' | translate}}-->
  <!--</div>-->
  <!--<div class="help-block">-->
          <!--<span *ngIf="error === 'fail'; else elseBlock">-->
            <!--{{('message.login.' + error) | translate}}-->
          <!--</span>-->
    <!--<ng-template #elseBlock>-->
      <!--<span>{{error}}</span>-->
    <!--</ng-template>-->
  <!--</div>-->
  <!--<div class="button-row">-->
    <!--<button type="submit" class="btn btn-inverse btn-lg btn-login" [disabled]="registrationForm.invalid">-->
      <!--{{'auth.register' | translate}}-->
    <!--</button>-->
    <!--<a class="btn btn-default btn-lg btn-register" routerLink="/login">{{'auth.loginForm' | translate}}</a>-->
  <!--</div>-->
  <!--<hr/>-->

</form>
