<div class="metallink">
  <a href="http://metalist1925.com/" target="_blank" title="Официальный сайт Металлист 1925"><img src="../../assets/images/offmetal.png"/></a>
  <a href="http://metalist1925.com/mem_club/about.php" target="_blank" title="Клуб болельщиков Металлист 1925"><img src="../../assets/images/memclub.png"/></a>
</div>
<div class="sponsors">
  <h4>Спонсори:</h4>
  <ul>
    <li><a href="//it.errea.com" target="_blank" title="Технічний спонсор"><img src="../../assets/images/sponsors/erreaOrizzontale.png"/></a></li>
    <li><a href="//novoabrasive.com" target="_blank" title="Стратегічний спонсор"><img src="../../assets/images/sponsors/novoAbraziv.png"/></a></li>
    <li><a href="//aeseco.com.ua" target="_blank" title="Титульний спонсор"><img src="../../assets/images/sponsors/aesGroup.png"/></a></li>
    <li><a href="//ufc-fish.com" target="_blank" title="Cпонсор"><img src="../../assets/images/sponsors/NorvenLogo.svg"/></a></li>
    <li><img title="Cпонсор" src="../../assets/images/sponsors/LogoFEDPJSC.svg" /></li>
    <li><a href="//stroycity.com.ua/" target="_blank" title="Cпонсор"><img src="../../assets/images/sponsors/stroyCityLogo.svg"/></a></li>
  </ul>
</div>
<div class="container">
  <address>
    Свои замечания и пожелания по улучшению сервиса онлайн-продажи билетов просьба направлять на почту
    <br>
    <strong>email:</strong><a href="mailto:fc@metalist1925.com">fc@metalist1925.com</a>
    <br>
    <abbr title="Телефон"><strong>Тел:</strong></abbr> (057) 76 1925 6, (093) 308-38-83
  </address>
</div>
