<div class="footer">
  <div class="metallink">
    <a href="http://metalist1925.com/" target="_blank" title="Официальный сайт Металлист 1925"><img src="../../assets/images/offmetal.png"/></a>
    <a href="http://metalist1925.com/mem_club/about.php" target="_blank" title="Клуб болельщиков Металлист 1925"><img src="../../assets/images/memclub.png"/></a>
  </div>
  <div class="sponsors">
    <span>{{'footer.sponsors' | translate}}:</span>
    <ul>
      <li>
        <a href="//it.errea.com" target="_blank" title="Технічний спонсор">
          <img src="assets/images/sponsors/erreaOrizzontale.png"/>
        </a>
      </li>
      <li>
        <a href="//novoabrasive.com" target="_blank" title="Стратегічний спонсор">
          <img src="assets/images/sponsors/novoAbraziv.png"/>
        </a>
      </li>
      <li>
        <a href="//aeseco.com.ua" target="_blank" title="Титульний спонсор">
          <img src="assets/images/sponsors/aesGroup.png"/>
        </a>
      </li>
      <li>
        <a href="//ufc-fish.com" target="_blank" title="Cпонсор">
          <img src="assets/images/sponsors/NorvenLogo.svg"/>
        </a>
      </li>
      <li><img title="Cпонсор" src="assets/images/sponsors/LogoFEDPJSC.svg" /></li>
      <li><img title="Cпонсор" src="assets/images/sponsors/khTileFactoryLogo.png" /></li>
      <li><img title="Cпонсор" src="assets/images/sponsors/termolifeLogo.png" /></li>
    </ul>
  </div>
  <div class="container">
    <address>
      <span>{{'footer.message' | translate}}</span>
      <span>
        <strong>email:</strong>
        <a href="mailto:fc@metalist1925.com">fc@metalist1925.com</a>
      </span>
      <span>
        <strong>Тел:</strong>
        <a href="tel:+380577619256">(057) 761-92-56</a>,
        <a href="tel:+380933083883">(093) 308-38-83</a>
      </span>
    </address>
  </div>
</div>
