<div class="wrapper">
  <h1>{{'tickets.boughtTickets' | translate}}</h1>
  <div *ngIf="tickets?.length; else elseBlock">
    <ng-scrollbar thumbClass="thumb" viewClass="scroll" barClass="thumb">
      <ng-container *ngIf="seasonTickets?.length">
        <ticket-section [tickets]="seasonTickets"
                        [type]="types.seasonTicket"
                        (handleClick)="print($event)">
          <span>{{'seasonTickets.seasonTickets' | translate}}</span>
        </ticket-section>
      </ng-container>
      <ticket-section *ngFor="let ticket of tickets"
                      [match]="ticket.match"
                      [tickets]="ticket.tickets"
                      [type]="types.ticket"
                      (handleClick)="print($event)">
        <span>{{'tickets.places' | translate}}:</span>
      </ticket-section>
    </ng-scrollbar>
  </div>
  <ng-template #elseBlock><h3>{{'tickets.message1' | translate}}.</h3></ng-template>
  <home-button></home-button>
</div>
