<div *ngIf="isShema()">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let colorPrice of currentColorSchema">
            <mat-icon [ngStyle]="{'color': colorPrice.color}">lens</mat-icon>
      <span>
        <select [(ngModel)]="colorPrice.color">
          <option *ngFor="let color of colors" [ngValue]="color.color">{{color.colorName}}</option>
        </select>
      </span>
            <span>= {{colorPrice.price}}</span>
        </li>
    </ul>
    <div *ngIf="isColorChanged()">
        <div>
            <button class="form-control" (click)="edit(currentColorSchema)">
                Apply Color
            </button>
        </div>
    </div>
</div>
