<div ng-if="$ctrl.currentColorSchema">
  <ul class="list-group" >
    <li class="list-group-item" ng-repeat="colorPrice in $ctrl.currentColorSchema">
      <span class="fa fa-2x fa-square" style="color: {{colorPrice.color}}"></span>
      <span>
        <select name="color" id="color"  ng-model="colorPrice.color"
                ng-options="color.color as color.colorName for color in $ctrl.colors"
                required> </select>
      </span>
      <span>= {{colorPrice.price}}</span>
    </li>
  </ul>
    <div ng-show="$ctrl.isColorChanged()">
        <button class="form-control" ng-click="$ctrl.edit($ctrl.currentColorSchema)">
            Apply Color
        </button>
    </div>
</div>