<div class="inner-wrapper">
  <div class="match-list" *ngIf="matches?.length">
    <swiper *ngIf="!isMobile; else elseBlock" [config]="config">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let match of matches">
          <match-card [match]="match"></match-card>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </swiper>
    <ng-template #elseBlock>
      <match-card *ngFor="let match of matches" [match]="match"></match-card>
    </ng-template>
  </div>
</div>
