<div class="container">
  <div class="text-center"><img src="../../app/home/img/mxtick.jpg"></div>
  <h4 class="page-header">Следующие матчи</h4>
  <div class="matches">
    <ul class="matchList">
      <li ng-repeat="match in vm.matches" class="panel">
        <div>
          <span class="teamLogos"><img src="../../app/home/teamLogo/4.png" alt="..."></span>
          <span class="teamLogos"><img class="teamLogos" src="../../app/home/teamLogo/2.png" alt="..."></span>
        </div>
        <span class="commandsNames"><h4>Металист 1925 - {{match.rival}}</h4></span>
        <span class="matchDate"><p ng-if="match.date" class="panel-title">{{ match.date|date : 'MMM d, y' }}</p><p>{{ match.date|date :'HH:mm' }}</p></span><br/>
        <span class="commandsNames"><p ng-if="!match.date" class="panel-title">{{ match.dateApproximate }}</p></span>
        <a ui-sref="match({id: match.id})" class="btn btn-link">Купить билет</a>
      </li>
    </ul>
  </div>
</div>
