<h3>Your Cart</h3>
<div class="empty" ng-hide="vm.getTotalItems()">Your cart is empty</div>
<table class="cart-items table table-condensed">
    <tr class="cart-item" ng-repeat="item in vm.getItems()">
        <td>Seat id: {{ item.seatId }}, match id: {{ item.matchId }}</td>
        <td>{{ item.amount | money }}</td>
        <td>
            <button class="btn btn-danger btn-xs" ng-click="vm.removeItem($index)">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
        </td>
    </tr>
    <tr ng-show="vm.getTotalItems()">
        <td colspan="3"><strong>{{ vm.getTotalItems() }}</strong> tickets for <strong>{{ vm.getTotalAmount() | money }}</strong></td>
    </tr>
</table>
