<h3>Your Cart</h3>
<div class="empty" ng-hide="vm.cart.size">Your cart is empty</div>
<table class="cart-items table table-condensed">
    <tr class="cart-item" ng-repeat="item in vm.cart.items">
        <td>
            {{ item.match.headline }}<br/>
            ({{ item.match.date|date:'d MMM' }} at {{ item.match.date|date:'HH:mm' }} )<br/>
            sector #{{ item.seat.sector }}, row #{{ item.seat.row }}, seat #{{ item.seat.number }}
        </td>
        <td>{{ item.amount | money }}</td>
        <td>
            <button class="btn btn-danger btn-xs" ng-click="vm.removeItem(item.id)">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
        </td>
    </tr>
    <tr ng-show="vm.cart.size">
        <td colspan="3"><strong>{{ vm.cart.size }}</strong> tickets for <strong>{{ vm.cart.amount | money }}</strong></td>
    </tr>
</table>
