<div class="container">
  <navpanel section="4"></navpanel>
  <div class="row">
    <div class="col-sm-12">
      <h1>Оформление заказа</h1>
    </div>
    <div class="col-sm-12">
      <blockquote>
        <p>Приобретая билет, вы соглашаетесь с &nbsp;
          <a href="http://metalist1925.com/club/stadium/rules.php" target="_blank">
            «Правилами поведения на стадионе»
          </a>
        </p>
      </blockquote>
      <p *ngIf="!isReservationExpired && cart?.seats?.length && duration">
        Ваши билеты зарезервированы на
        <span style="color: red; font-size: 12pt;"><strong>{{duration?.minutes}}</strong></span> мин
        <span style="color: red;font-size: 12pt"><strong>{{duration?.seconds}}</strong></span> сек
        , чтобы никто не мог их купить.<br/>
        <strong>
          Перед оплатой билетов, пожалуйста, убедитесь, что не ошиблись в выборе матча, даты и места.
        </strong>
        <br/>
      </p>
      <p *ngIf="isReservationExpired">
        <strong>Бронь снята и билеты вернулись в свободную продажу.</strong><br/><br/>
      </p>
    </div>
    <div class="col-sm-12" *ngIf="!isReservationExpired">
      <app-summary></app-summary>
      <app-details [seats]="cart?.seats" (onDelete)="getCart()"></app-details>
      <div *ngIf="!cart?.seats">
        <strong>Билеты не выбраны</strong>
      </div>
    </div>
    <div *ngIf="!isReservationExpired && cart?.seats?.length">
      <div class="buttons col-sm-12" *ngIf="!isLoggedIn()">
        <div class="col-sm-5">
          <a [routerLink]="['/login']" class="btn btn-primary btn-block">Войти</a>
        </div>
        <div class="col-sm-2">ИЛИ</div>
        <div class="col-sm-5">
          <confirm-email-form></confirm-email-form>
        </div>
      </div>
      <div class="col-sm-12" *ngIf="isLoggedIn()">
        <button class="btn btn-primary btn-block" (click)="checkout()">Оплатить</button>
        <p *ngIf="checkoutMessage" class="checkout-message">Заказ не был найден</p>
      </div>
    </div>
  </div>
</div>

