<form name="myForm"><br>
    <label for="priceSchema"> Выберите прайс схему: </label>
    <select class="form-control" name="priceSchema" id="priceSchema" ng-change="$ctrl.setCurrentPriceSchema($ctrl.schemaName)" ng-model="$ctrl.schemaName">
        <option value="---New Schema---">---New Schema---</option>
        <option ng-repeat="option in $ctrl.priceSchemas" value="{{option.priceSchema.name}}">{{option.priceSchema.name}}</option>
    </select>
</form>
<div class="col-sm-7 seats">
    <stadium price-schema="$ctrl.currentPriceSchema" on-sector-select="$ctrl.getSectorForSetPrice($event)"></stadium>
</div>
<div class="col-sm-5 cart"><br>
    <div>
        <div ng-form="priceForm" ng-model-options="{ updateOn: 'blur' }">
           <div class="form-group"  ng-class="{'has-error': priceForm.schemaName.$invalid && priceForm.schemaName.$dirty}">
            <label for="schemaName">Schema Name :</label>
            <input class="form-control" type="text" name="schemaName" id="schemaName" ng-model="$ctrl.currentPriceSchema.name" required >
            <div class="help-block" ng-show="priceForm.schemaName.$error.required && priceForm.schemaName.$dirty">Schema Name is required</div>
           </div>
            <h4>Цена на трибуну:</h4>
           <table class="table">
            <thead>
            <tr >
                <th>Name</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {{$ctrl.currentTribune.name}}
                </td>
                <td>
                    <div class="form-group"  ng-class="{'has-error': priceForm.tribunePrice.$invalid && priceForm.tribunePrice.$dirty}">
                    <input class="form-control" type="number" name="tribunePrice" min="0" max="1500" ng-model="$ctrl.currentTribune.price" />
                    <div class="help-block" ng-show="priceForm.tribunePrice.$error.number && priceForm.tribunePrice.$dirty">Price not number</div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <h4>Цена на сектор:</h4>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>{{$ctrl.currentSector.name}}</span>
                </td>
                <td>
                    <div class="form-group"  ng-class="{'has-error': priceForm.sectorPrice.$invalid && priceForm.sectorPrice.$dirty}">
                    <input class="form-control" type="number" name="sectorPrice" min="0" max="1500" ng-model="$ctrl.currentSector.price" />
                    <div class="help-block" ng-show="priceForm.sectorPrice.$error.number && priceForm.sectorPrice.$dirty">Price not number</div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
            <p ng-show="$ctrl.message">{{$ctrl.message}}</p>
        <button class="form-control"
                ng-click="$ctrl.savePriceSchema(priceForm, $ctrl.currentTribune.name, $ctrl.currentSector.name)"
                ng-class="{'disabled': priceForm.$invalid && priceForm.$dirty}">
            Save price
        </button>
        </div>
    </div>
</div>
