<div class="row">
    <div class="col-md-3">
        <label>Список схем</label>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="schema in $ctrl.priceSchemas">
                <span class="badge" ng-click="$ctrl.edit(schema.priceSchema)" style="cursor: pointer;">Edit</span>
                {{schema.priceSchema.name}} :
                {{schema.priceSchema.stadiumName}}
            </li>
        </ul>
        <form class="form-inline">
            <button class="btn btn-default" ng-click="$ctrl.edit({})">New price schema</button>
        </form>
        <hr>
        <panel current-price-schema="$ctrl.currentPriceSchema"></panel>
        <!--<ul class="list-group">-->
            <!--<li class="list-group-item" ng-repeat="colorSchema in $ctrl.currentPriceSchema.colorSchema">-->
                <!--<span class="fa fa-2x fa-square" style="color: {{colorSchema.color}}"></span>-->
                <!--Price:{{colorSchema.price}}-->
                <!--<span class="badge" ng-click="$ctrl.colorEdit(colorSchema)" style="cursor: pointer;">Edit</span>-->
            <!--</li>-->
        <!--</ul>-->
    </div>
    <div class="col-md-9">
        <form name="myForm"><br>
            <label for="stadiumName">Выберете стадион :</label>
            <select class="form-control" name="currentPriceSchema.stadiumName" id="currentPriceSchema.stadiumName"
                    ng-change="$ctrl.currentPriceSchema.stadiumName"
                    ng-model="$ctrl.currentPriceSchema.stadiumName" >
                <option value="metalist">metalist</option>
                <option value="dinamo">dinamo</option>
                <option value="solar">solar</option>
            </select>
            <div ng-show="$ctrl.currentPriceSchema.stadiumName">
                <div ng-show="$ctrl.currentPriceSchema.name">
                    <p>Выбранная схема {{$ctrl.currentPriceSchema.name}}</p>
                </div>
                <div ng-show="!$ctrl.currentPriceSchema.name">
                    <input type="text" class="form-control" ng-model="$ctrl.currentPriceSchema.newName" placeholder="Название схемы">
                </div>

                <div ng-show="$ctrl.currentPriceSchema.stadiumName == 'metalist' || $ctrl.currentPriceSchema.stadiumName == 'dinamo'">
                    <span class="input-group-addon"><button ng-click="$ctrl.selectTribune('east')" class="btn btn-default">Восточная трибуна</button></span>
                </div>

                <div class="input-group" ng-show="$ctrl.currentPriceSchema.stadiumName == 'metalist' || $ctrl.currentPriceSchema.stadiumName == 'dinamo'">
                <span class="input-group-addon"><button ng-click="$ctrl.selectTribune('south')" class="btn btn-default">
                    <svg width="70" height="140" class="svg-text">
                    <text x="0" y="0" transform="rotate(90)">Южная трибуна</text>
                    </svg> .
                </button></span>
                <stadium price-schema="$ctrl.currentPriceSchema"
                on-sector-select="$ctrl.getSectorForSetPrice($event)"></stadium>
                <span class="input-group-addon"><button ng-click="$ctrl.selectTribune('north')" class="btn btn-default">
                <svg width="70" height="140" class="svg-text">
                    <text x="0" y="0" transform="rotate(90)">Северная трибуна</text>
                </svg> .
                </button></span>
                </div>

                <div class="input-group" ng-show="$ctrl.currentPriceSchema.stadiumName == 'solar'">

                            <span class="input-group-addon"><button ng-click="$ctrl.selectTribune('east')" class="btn btn-default">
                                <svg width="70" height="140" class="svg-text">
                                    <text x="0" y="0" transform="rotate(90)">Восточная трибуна</text>
                                </svg> .
                            </button></span>

                    <stadium price-schema="$ctrl.currentPriceSchema" on-sector-select="$ctrl.getSectorForSetPrice($event)"></stadium>

                            <span class="input-group-addon"><button ng-click="$ctrl.selectTribune('west')" class="btn btn-default">
                                <svg width="70" height="140" class="svg-text">
                                    <text x="0" y="0" transform="rotate(90)">Западная трибуна</text>
                                </svg> .
                            </button></span>
                </div>

                <div ng-show="$ctrl.currentPriceSchema.stadiumName == 'metalist' || $ctrl.currentPriceSchema.stadiumName == 'dinamo'">
                <span class="input-group-addon"><button ng-click="$ctrl.selectTribune('west')" class="btn btn-default">Западная трибуна</button></span>
                </div>
            </div>

            <div ng-form="priceForm" ng-show="!$ctrl.currentSector.name">
                <h4>Цена на трибуну:</h4>
                <table class="table">
                    <thead>
                    <tr >
                        <th>Трибуна</th>
                        <th>цена</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <span>{{$ctrl.currentTribune.name}}</span>

                        </td>
                        <td>
                            <div class="form-group"  ng-class="{'has-error': priceForm.tribunePrice.$invalid && priceForm.tribunePrice.$dirty}">
                                <input class="form-control" type="number" name="tribunePrice" min="0" max="1500" ng-model="$ctrl.currentTribune.price" ng-change="$ctrl.currentTribune.price" />
                                <div class="help-block" ng-show="priceForm.tribunePrice.$error.number && priceForm.tribunePrice.$dirty">Price not number</div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div ng-form="priceForm" ng-show="$ctrl.currentSector.name">
                <h4>Цена на сектор:</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Номер сектора</th>
                        <th>Цена</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <span>{{$ctrl.currentSector.name}}</span>
                        </td>
                        <td>
                            <div class="form-group"  ng-class="{'has-error': priceForm.sectorPrice.$invalid && priceForm.sectorPrice.$dirty}">
                                <input class="form-control" type="number" name="sectorPrice" min="0" max="1500" ng-model="$ctrl.currentSector.price" ng-change="$ctrl.currentSector.price" />
                                <div class="help-block" ng-show="priceForm.sectorPrice.$error.number && priceForm.sectorPrice.$dirty">Price not number</div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div ng-show="$ctrl.currentPriceSchema.stadiumName">
                <button class="form-control"
                        ng-click="$ctrl.savePriceSchema(priceForm, $ctrl.currentTribune.name, $ctrl.currentSector.name)"
                        ng-class="{'disabled': priceForm.$invalid && priceForm.$dirty}">
                    Save price
                </button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <p ng-show="$ctrl.message">{{$ctrl.message}}</p>
    </div>
</div>