<mat-tab-group>
  <mat-tab label="Блокировка мест">
    <block-row-seat-form (add)="addSeasonTicket($event)" [isSeatExist]="true" [message]="errorMessageSeat">
    </block-row-seat-form>
    <app-season-ticket-list [tickets]="seasonTickets" (delete)="deleteSeasonTicket($event)">
    </app-season-ticket-list>
  </mat-tab>
  <mat-tab label="Блокировка рядов">
    <block-row-seat-form (add)="addBlockRow($event)" [isSeatExist]="false" [message]="errorMessageBlockRow">
    </block-row-seat-form>
    <app-block-row-list [blockRowSeats]="blockRowSeats" (delete)="deleteBlockRow($event)">
    </app-block-row-list>
  </mat-tab>
</mat-tab-group>
