@import '../../variables';

div {
  display: flex;
  .oauth {
    color: @white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    font-size: 32px;
  }
  .oauth:first-child {
    background-color: #00426b;
    border-radius: 50px 0 0 50px;
  }
  .oauth:last-child {
    background-color: #fc2c34;
    border-radius: 0 50px 50px 0;
  }
}

